{% extends 'base.html' %}

{% block title %}<title>首页</title>{% endblock %}


{% block webname %}
<h1 class="navbar-brand" style="position:relative;bottom:3px"><a href="{% url 'index' %}" style="text-decoration:none"><font style="color:grey;font-size:180%">RookieInn</font></a></h1>
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1>公告</h1>
        <p>感兴趣的小伙伴可以一起来开发维护这个网站呀！任何问题或建议联系周谢波。</p>
        <p style="display:inline;"><a class="btn btn-primary btn-lg" role="button" href="{% url 'Stable:index' %}">稳定性点位管理平台</a></p>
        <p style="display:inline;"><a class="btn btn-warning btn-lg" role="button" href="{% url 'vote:index' %}">投票与问卷平台</a></p>
        <p style="display:inline;"><a class="btn btn-warning btn-lg" role="button" href="{% url 'Task:index' %}" style="display: none">作业发布平台</a></p>
    </div>
</div>
{% endblock %}
