{% extends 'base.html' %}

{% block title %}<title>稳定性点位管理平台</title>{% endblock %}

{% block webname %}
<h1 class="navbar-brand" style="position:relative;bottom:3px"><a href="{% url 'Stable:index' %}" style="text-decoration:none"><font style="color:grey;font-size:180%">稳定性点位管理平台</font></a></h1>
{% endblock %}

{% block main %}

{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>提示：</strong> {{ message }}
</div>
{% endfor %}
{% endif %}

<form role="form">
    <div class="form-group" style="display: inline;">
      <label for="name" style="display: inline;">选择点位位置：</label>
      <select class="form-control" style="width: 20%;display: inline;" id="select-location">
        <option value="0">全部</option>
        <option value="1">B3楼顶园区方向</option>
        <option value="2">B3楼顶群乐方向</option>
      </select>
    </div>
    <a class="btn btn-warning" role="button" href="{% url 'Stable:log' %}">查看日志</a>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          异常处理 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#abnormal">异常提交</a></li>
          <li><a href="{% url 'Stable:abnormal' %}">处理进度</a></li>
        </ul>
      </div>
</form>

<table class="table table-striped display" id="table_id_index" style="width:100%;">

    <thead>
        <tr>
            <th class="text-center">IP</th>
            <th class="text-center">位置</th>
            <th class="text-center">状态 {% if user.isAdminStable %}<span class="badge" id="badge">{{ devices_in_loading }}</span>{% endif %}</th>
            <th class="text-center">过期时间</th>
            <th class="text-center">使用信息</th>
            <th class="text-center">申请使用</th>
            <!--以下隐藏信息是为了搜索的时候能用到-->
            <th class="text-center" style="display: none">隐藏设备信息</th>
            <th class="text-center" style="display: none">隐藏管理员信息</th>
            <th class="text-center" style="display: none">隐藏使用者信息</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <!--IP列-->
            {% if device.ip %}
            <td class="text-center ip" width="15%">
                <span id="ip{{ forloop.counter }}">{{ device.ip }}</span>
                <i style="width:10px;height:10px;border-radius:50%;border-style: solid;border-width: thin;  background-color:red;display: inline-block"></i>
            </td>
            {% else %}
            <td class="text-center" width="15%">
                <span id="ip{{ forloop.counter }}">该点位IP暂为空</span>
            </td>
            {% endif %}
            <!--{% if user.isAdminStable %}
            <td class="text-center" width="15%">{{ device.ip }}</td>
            {% else %}
            <td class="text-center" width="15%" id="ip{{ forloop.counter }}">
                    {% if device.user == user.nickname and device.status == '未批准' %}
                    {{ device.ip }}
                    {% elif device.user == user.nickname and device.status == '使用中' %}
                    {{ device.ip }} 
                    {% else %}
                    该IP不可见
                    {% endif %}
            </td>
            {% endif %}-->            

            <!--位置列-->
            <td class="text-center location" width="15%">{{ device.location }}</td>

            <!--状态列-->
            {% if device.status == '使用中' %}
            <td class="text-center" width="15%" id="status{{ forloop.counter }}" style="background-color: rgb(255, 78, 78);">
            {% elif device.status == '未使用' %}
            <td class="text-center" width="15%" id="status{{ forloop.counter }}" style="background-color: rgb(79, 204, 79);">
            {% else %}
            <td class="text-center" width="15%" id="status{{ forloop.counter }}" style="background-color: yellow;">
            {% endif %}
            {% if user.isAdminStable %}
                {% if device.status == '待批准' %}                
                    {{ device.status }}<a href="#" class="approve" data-id="{{ forloop.counter }}" name="{{ device.id }}"><span class="glyphicon glyphicon-ok"></span></a>   <a href="#" class="reject" data-id="{{ forloop.counter }}" name="{{ device.id }}"><span class="glyphicon glyphicon-remove" style="color: red"></span></a>
                {% elif device.status == '使用中' %}
                    {{ device.status }}<a href="#" class="delete" data-id="{{ forloop.counter }}" name="{{ device.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                {% else %}
                    {{ device.status }}
                {% endif %}
            {% else %}
                {% if device.status == '待批准' %}                
                    {{ device.status }}
                    {% if device.user == user.nickname %}
                    <a href="#" class="reject" data-id="{{ forloop.counter }}" name="{{ device.id }}"><span class="glyphicon glyphicon-remove" style="color: red"></span></a>
                    {% endif %}
                {% elif device.status == '使用中' %}
                    {{ device.status }}
                    {% if device.user == user.nickname %}
                    <a href="#" class="delete" data-id="{{ forloop.counter }}" name="{{ device.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                {% else %}
                    {{ device.status }}
                {% endif %}            
            {% endif %}
            </td>

            <!--过期时间列-->
            {% if device.status == '未使用' %}
            <td class="text-center timed" width="15%" id="expiration{{ forloop.counter }}">暂无</td>
            {% else %}
            <td class="text-center timed" width="15%" id="expiration{{ forloop.counter }}">{{ device.expiration|date:"Y-m-d" }}</td>
            {% endif %}

            <!--详细信息列-->
            <td class="text-center" width="15%" id="user_information{{ forloop.counter }}">
                {% if device.status == '未使用' %}
                    无
                {% else %}
                    {{ device.user }}
                    <a href="#" data-toggle="modal" data-target="#detail" class="information-btn" data-id="{{ forloop.counter }}">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                {% endif %}
            </td>

            <!--申请列-->
            <td class="text-center" width="15%" id="apply{{ forloop.counter }}">
                    {% if device.status == '未使用' %}
                    <a href="#" data-toggle="modal" data-target="#submit">
                        <button type="button" class="btn btn-warning submit-btn" data-id="{{ forloop.counter }}">申请</button>
                    </a>
                    {% else %}
                    该点位暂不能申请
                    {% endif %}
            </td>

            <!--隐藏信息， 可供搜索栏查询的信息-->
            <td style="display: none" id="device_information{{ forloop.counter }}">{{ device.information }}</td>
            <td style="display: none" id="device_admin{{ forloop.counter }}">{{ device.admin }}</td>
            <td style="display: none" id="device_user{{ forloop.counter }}">{{ device.user }}</td>
        </tr>
        <!--隐藏信息， 不可供搜索栏查询的信息-->
        <input type="hiddne" id="device_pk{{ forloop.counter }}" value="" name="{{ device.id }}" disabled style="display:none;">
        {% endfor %}
  </tbody>
</table>

<!--申请提交模态框-->
<div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">申请信息</h4>
        </div>
        <div class="modal-body">
            <form class="form" autocomplete="off">
                {% csrf_token %}
                <div>
                    <label>设备ip：</label>
                    <input type="text" class="addip form-control" style="width: 30%;display: inline;" id="addip" value="">
                </div>
                <br>                   
                <div>
                    <label>到期时间：</label>
                    <input type="text" class="expiration form-control" style="width: 30%;display: inline;" id="expiration" value="" readonly>
                </div><br>
                <div>
                    <label>设备信息：</label>
                    <textarea class="form-control" placeholder="请输入设备信息" name="information" id="information"></textarea>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary application" data-id="" id="pk" name="">申请</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!--使用情况模态框-->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">设备信息</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
</div>

<!--异常提交模态框-->
<div class="modal fade" id="abnormal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" z-index="600">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">异常信息</h4>
        </div>
        <div class="modal-body">
            <form class="form" autocomplete="off">
                {% csrf_token %}
                <div>
                    <label>异常描述：</label>
                    <textarea class="form-control" id="abnormal-information"></textarea>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="abnormal-submit">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/Stable/index.js"></script>
<script>
$('#table_id_index').dataTable({
    language:{
        "sLengthMenu" : "每页 _MENU_ 条",    
        'sSearch' : '搜索：',
        "oPaginate": {    
		"sFirst" : "第一页",    
		"sPrevious" : "上一页",    
		"sNext" : "下一页",    
		"sLast" : "最后一页"    
	    },
        "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",  
    },
    aLengthMenu : [10, 30, 50], //更改显示记录数选项
    bSort : false,            //禁止默认排序
    pageLength: 15,           //默认每页条数
});

$.fn.datetimepicker.dates['zh-CN'] = {
			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一", "十二"],
			today: "明天",
			suffix: [],
			meridiem: ["上午", "下午"]

}

$('.expiration').datetimepicker({
    format: "yyyy-mm-dd",
    minView: 2,
    language:"zh-CN", //汉化
    todayBtn : true,  //显示今天按钮
    autoclose : true,   //选择日期后自动关闭日期选择框
    todayHighlight : false,   //当天高亮显示
    startDate: new Date((new Date()).getTime() + 24*60*60*1000),
    endDate: new Date((new Date()).getTime() + 24*60*60*1000*365)
});



</script>
{% endblock %}